* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-background: #fff;
  --body-color: black;
  --body-boxshadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --body-mute-color: #6c757d;
  --body-mutest-color: #dee2e6;
  --body-skeleton-color: #dddddd;
  --body-tab-bg: #fff;
  --body-loader-bg: #6c757d17;
  --body-tab-color: #000;
  --accent-color: #5a3c90;
  --link-color: #0a58ca;
  --nav-link-color: rgba(0, 0, 0, 0.65);
  --bg-secondary-color: #6c757d;
  --ztr-font-size: 1rem;
  --ztr-text-color: black;
  --ztr-background-color: transparent;
  --body-mute-color-hover: #545b61;
  --body-link-color: rgba(0, 0, 255, 0.754);
  --body-link-color-hover: rgba(0, 0, 255, 0.809);
  --body-border-color: black;
}
